# Core Frameworks
git+https://github.com/Rapptz/discord.py
fastapi~=0.112.2
uvicorn~=0.30.6

# Database & Models
motor~=3.6.0
pymongo~=4.16.0
pydantic~=2.12.5
gspread~=5.10.0
gspread_asyncio

# Utilities & Scaling
snowflake-id
zuid~=0.1.1
python-decouple
python-dateutil~=2.8.2
pytz~=2024.1
num2words~=0.5.13
psutil~=5.9.0

# Networking & API
requests
aiohttp~=3.10.10
aiohttp-cors
roblox~=2.0.0
oauth2client~=4.1.3

# Search & Security
rapidfuzz             # Modern replacement for fuzzywuzzy
pycryptodome

# Extensions & Debugging
jishaku~=2.6.0
reactionmenu~=3.1.3
sentry_sdk[pymongo]
newrelic
nest_asyncio

# Testing
pytest
pytest-asyncio~=0.21.0
typing_extensions
