# Core Frameworks
git+https://github.com/Rapptz/discord.py
fastapi
uvicorn

# Database & Models
motor
pymongo
pydantic
gspread
gspread_asyncio

# Utilities & Scaling
snowflake-id
zuid
python-decouple
python-dateutil
pytz
num2words
psutil

# Networking & API
requests
aiohttp
aiohttp-cors
roblox
oauth2client

# Search & Security
rapidfuzz
pycryptodome

# Extensions & Debugging
jishaku
reactionmenu
sentry_sdk[pymongo]
newrelic
nest_asyncio

# Testing
pytest
pytest-asyncio
typing_extensions
