# Discord & Frameworks
git+https://github.com/Rapptz/discord.py
fastapi
uvicorn

# Database & Async Drivers
motor
pymongo
pydantic
gspread
gspread_asyncio
aiohttp
aiohttp-cors

# Roblox & Third-Party APIs
roblox
requests
oauth2client
sentry_sdk[pymongo]
newrelic

# Logic & Utilities
snowflake-id
zuid
python-decouple
python-dateutil
pytz
num2words
psutil
nest_asyncio
typing_extensions

# Search & String Matching
fuzzywuzzy
python-Levenshtein
pycryptodome

# Bot Extensions
jishaku
reactionmenu

# Testing
pytest
pytest-asyncio
